{{ define "main" }}
<!-- <h1></h1> -->
<content class="travel">
    <article class="travel-page">
        <div class="map">
            <div id="travel-map"></div>
        </div>
        <article class="travel-list">
            <div class="filters">
                <div class="filters-box__label">List of</div>
                <div class="filters-box">
                    <div class="filters-box__item _active" data-content="countries-list">countries</div>
                    <div class="filters-box__item" data-content="trips-list">trips</div>
                </div>
            </div>
            <div class="travel-list__body">
                <ol class="countries-list">
                    {{ range .Site.Data.travel.countries }}
                    <li class="countries-list">
                        <div class="countries-list__country"><span class="country">{{ .flag }} {{ .name }}: </span>{{
                            .cities }}
                        </div>
                    </li>
                    {{ end }}
                </ol>
                <div class="trips-list">
                    {{ $trips := .Site.Data.travel.trips }}

                    {{ $years := slice }}
                    {{ range $key, $val := $trips }} {{ $years = $years | append $key }} {{ end}}
                    {{ $years = sort $years "value" "desc" }}

                    {{ range $year := $years }}
                    <p>
                        <strong class="year">{{ $year }}</strong>
                        <br>
                        {{ range index $trips $year }}
                        <span class="trip">
                            {{ .country }} {{ .city }} <span class="time">{{ .date }}</span>
                        </span>
                        <br>
                        {{ end }}
                    </p>
                    {{ end }}
                </div>
            </div>
            <div class="summary">
                <hr>
                {{ $summaryData := .Site.Data.travel.summary }}
                <b>Countries:</b> UN {{ $summaryData.countries.un.visited }}/{{ $summaryData.countries.un.total }}, UN+ {{ $summaryData.countries.unp.visited }}/{{ $summaryData.countries.unp.total }}, NM {{ $summaryData.countries.nm.visited }}/{{ $summaryData.countries.nm.total }}, TCC {{ $summaryData.countries.tcc.visited }}/{{ $summaryData.countries.tcc.total }}<br/>
                <b>Cities:</b> {{ $summaryData.cities.total }}<br/>
                <b>Flights:</b> {{ $summaryData.flights.total }}
            </div>
        </article>
    </article>
    <pre><i>Last updated: {{ (os.Stat "data/travel.json").ModTime | time.Format ":date_medium" }}</i></pre>
    <script>window.shareData = {{ .Site.Data.travel.map }}</script>
</content>
{{ end }}