{{ define "main" }}
<h1></h1>
<content class="travel">
    <article class="travel-page">
        <div class="map">
            <div id="travel-map"></div>
        </div>
        <article class="travel-list">
            <div class="filters">
                <div class="filters-box__label">List of</div>
                <div class="filters-box">
                    <div class="filters-box__item _active" data-content="countries-list">countries</div>
                    <div class="filters-box__item" data-content="trips-list">trips</div>
                </div>
            </div>
            <div class="travel-list__body">
                <ol class="countries-list">
                    {{ range .Site.Data.travel.countries }}
                    <ul class="countries-list">
                        <li class="countries-list__country"><span class="country">{{ .flag }} {{ .name }}: </span>{{
                            .cities }}
                        </li>
                    </ul>
                    {{ end }}
                </ol>
                <div class="trips-list">
                    {{ $trips := .Site.Data.travel.trips }}

                    {{ $years := slice }}
                    {{ range $key, $val := $trips }} {{ $years = $years | append $key }} {{ end}}
                    {{ $years = sort $years "value" "desc" }}

                    {{ range $year := $years }}
                    <p>
                        <strong class="year">{{ $year }}</strong>
                        <br>
                        {{ range index $trips $year }}
                        <span class="trip">
                            {{ .country }} {{ .city }} <span class="time">{{ .date }}</span>
                        </span>
                        <br>
                        {{ end }}
                    </p>
                    {{ end }}
                </div>
            </div>
        </article>
    </article>
    <script>window.shareData = {{ .Site.Data.travel.map }}</script>
</content>
{{ end }}
