<!-- HTML Meta Tags -->
<meta name="title" content="{{ with .Title }}{{ . }}{{ else }}{{ .Site.Title }}{{ end }}"/>
<meta name="robots" content="noindex, nofollow">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:type" content="website">
<meta property="og:title" content="Alexander Tsaplev">
<meta property="og:image" content="https://tsaplev.me/og.jpg">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ .Permalink }}">
<meta name="twitter:title" content="Alexander Tsaplev">
<meta name="twitter:image" content="https://tsaplev.me/og.jpg">
