<!-- HTML Meta Tags -->
<meta name="title" content="{{ with .Title }}{{ . }}{{ else }}{{ .Site.Title }}{{ end }}" />
<meta name="description" content="The official site of Alexander Tsaplev, a software engineer and aviation geek">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://tsaplev.me/">
<meta property="og:type" content="website">
<meta property="og:title" content="Home | Alexander Tsaplev">
<meta property="og:description" content="The official site of Alexander Tsaplev, a software engineer and aviation geek">
<meta property="og:image" content="https://tsaplev.me/og.jpg">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="tsaplev.me">
<meta property="twitter:url" content="https://tsaplev.me/">
<meta name="twitter:title" content="Home | Alexander Tsaplev">
<meta name="twitter:description" content="The official site of Alexander Tsaplev, a software engineer and aviation geek">
<meta name="twitter:image" content="https://tsaplev.me/og.jpg">
